/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************
	Background Image
**************************/
body {
	background-image: url("/assets/images/plutoandcharon.jpg");
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: center;
	background-color: #000000;
	background-attachment: fixed;
}

/**************************
	Boxes
**************************/

.container {
	max-width: 720px;
	margin: auto
}

#form-container {
	background-color: rgba(44, 51, 61, 0.9);
	border-radius: 5px;
}

#questions-container {
	padding: 2.5rem;
}

.form-group {
	margin-bottom: 24px;
}

.box-input {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 8px 8px;
	box-sizing: border-box;
	margin-top: 12px;
}

.radio-container {
	margin-top: 18px;
}

.denkmal-pluto-container {
	padding: 10px 30px;
	line-height: 30px;
}

.submit-button {
	width: 100%;
	margin: auto;
	background-color: green;
	border: none;
	color: white;
	padding: 10px;
	font-family:'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
}

.submit-button:hover {
	background-color: darkgreen;
}

/**************************
	Text
**************************/

body {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

.title-header {
	text-align: center;
}

h1 {
	font-size: 4vw;
	margin-top: 40px;
	color: rgb(9, 255, 0);
}

#title-header-sub {
	font-size: 2vw;
	margin: 15px;
	color: rgb(255, 145, 0);
}

form {
	color: rgb(255, 255, 255);
	font-size: 24px;
}

.prompt {
	font-size: 24px;
	font-weight: 600;
}

.description-subtext {
	font-size: 18px;
	font-weight: 300;
}

.denkmal-pluto-container {
	font-size: 18px
}

.box-input {
	font-size: 18px;
}

/**************************
	Silly Stuff
**************************/

input[type="radio"]:checked#no-planethood + label {
	color: red;
}

.denial-visible {
	visibility: collapse;
}

#no-planethood:checked ~ * .denial-visible {
	visibility: visible;
}

input + label {
	padding: 0px 5px;
	border-radius: 12px;
}

input:hover + label {
	background-color: #7c6f67;
}

input:checked + label {
	background-color: rgb(255, 145, 0);
	color: black;
}